table {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

table > ng-container > th td{
    color: white;
}

button{
    padding: 10px;
}

.delete > i{
    color: black;
}
 
.edit {
    color: black;
}